<!DOCTYPE html>
<html>
<title>API</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>API's</h2>
  <p>Use This API's In Your App/Code To Embed And Decode/Encode Messages</p>

  <div class="w3-panel w3-card"><h>Encode API </h><a href="http://192.168.1.8:8080/encode/?code=">http://192.168.1.8:8080/encode/?code=MESSAGE</a></div>
  <div class="w3-panel w3-card-2"><h>Decode API </h><a href="http://192.168.1.8:8080/decode/?code=">http://192.168.1.8:8080/decode/?code=MESSAGE</a></div>
</div>

</body>
</html>