<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
 <link rel="icon" href="favicon.ico" sizes="16x16" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
center{
  margin-top: 20%;
}
</style>
</head>
<center>
<div class="w3-green w3-hover-shadow w3-padding-64 w3-center" style="width:50%">
  <p>{{msg2}}</p>
  <p>{{msg}}</p>
</div> 
</center>
</html>